{% extends 'base.html' %}

{% load static %}

{% block title %}
    Edit Mentor
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'form-style-1.css' %}">
{% endblock %}

{% block header %}
    {% include 'administrator/admin_header.html' %}
{% endblock %}

{% block content %}
    <h1>Edit Mentor</h1>

    <form method="post" action="{% url 'edit-mentor' mentor_id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save Changes">
    </form>
{% endblock %}
