{% extends 'base.html' %}

{% load static %}

{% block title %}
    Header Example
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'mentor/header_style.css' %}">
{% endblock %}

{% block header %}
    <header>
        <nav>
            <ul class="menu">
                <li><a href="{% url 'mentor-main' %}">Main</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <!-- Rest of your content goes here -->
{% endblock %}
