{% extends 'base.html' %}

{% load static %}

{% block title %}
    SUBJECT - Edit
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'form-style-1.css' %}">
{% endblock %}

{% block header %}
    {% include 'administrator/admin_header.html' %}
{% endblock %}

{% block content %}
    <h1>SUBJECT - Edit</h1>

    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        
        <input type="submit" value="Save Changes">
    </form>
{% endblock %}
